.home-page-container {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 1;

  .no-break-words {
    white-space: normal; /* autorise les retours à la ligne normaux */
    overflow-wrap: normal !important; /* alias word-wrap, n’autorise pas la césure interne */
    word-wrap: normal !important; /* alias historique pour overflow-wrap */
    word-break: normal; /* ne casse les mots qu’aux points de césure normaux (espaces, tirets) */
    -webkit-hyphens: none; /* désactive la césure automatique WebKit */
    -ms-hyphens: none; /* désactive la césure automatique IE/Edge */
    hyphens: none; /* désactive la césure automatique standard */
  }
  .gravity-slider {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
  }
}
