.home-page-container {
  h1 {
    font-size: 125px;
    font-weight: 400;

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (max-width: 1200px) {
      font-size: 100px;
      font-weight: 300;
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (max-width: 768px) {
      font-size: 75px;
      font-weight: 200;
    }
    @media only screen and (max-width: 600px) {
      font-size: 40px;
      font-weight: 150;
    }
  }
  .no-break-words {
    white-space: normal; /* autorise les retours à la ligne normaux */
    overflow-wrap: normal; /* alias word-wrap, n’autorise pas la césure interne */
    word-wrap: normal; /* alias historique pour overflow-wrap */
    word-break: normal; /* ne casse les mots qu’aux points de césure normaux (espaces, tirets) */
    -webkit-hyphens: none; /* désactive la césure automatique WebKit */
    -ms-hyphens: none; /* désactive la césure automatique IE/Edge */
    hyphens: none; /* désactive la césure automatique standard */
  }

  .hero-title {
    font-family: 'Luckiest Guy';
    font-display: swap;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: rgba(255, 255, 255, 0.87);
    // background: linear-gradient(90deg, #4285f4, #8f36ff);
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
    // -webkit-text-fill-color: transparent;
  }
}
