.home-page-container {
  .hero-title {
    font-family: 'Luckiest Guy';
    font-display: swap;
    font-weight: 400;
    font-size: 200px;
    // background: linear-gradient(90deg, #4285f4, #8f36ff);
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent;
    // -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
