.custom-button {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.6);
  }
}

.submit-button {
  margin-top: 10px;
  width: 100px;
  background-color: transparent;
  background: linear-gradient(90deg, #0bfffe, #dd00d3) !important;
}
