.contact-form-container {
  display: flex;
  border-radius: 15px;
  width: 500px;

  height: fit-content;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond partiellement transparent */
  backdrop-filter: blur(2px); /* Effet de flou */
  -webkit-backdrop-filter: blur(2px); /* Pour compatibilité Safari */
  pointer-events: all;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  input,
  .text-area {
    font-family: 'Josefin Sans', sans-serif;
    color: rgba(255, 255, 255, 0.507);
    // min-height: 50px;
    padding: 12px 15px; /* plus raisonnable */
    line-height: 1.5; /* assure l’espace vertical correct */
    font-size: 16px; /* explicite (ou ajuste selon besoins), parfois Josefin Sans est plus petit visuellement */
    background-color: rgba(255, 255, 255, 0.121);
    border: none;
    border-radius: 5px;
    background-clip: padding-box;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: border-image 0.3s;

    &::placeholder {
      // padding: 5px 10px;
      color: rgba(255, 255, 255, 0.507);
    }

    &:focus {
      border: 1px solid transparent;
      outline: none; /* désactive la "seconde" bordure du navigateur */
      border-image: linear-gradient(90deg, #0bfffe, #dd00d3) 1;
      border-radius: 5px;
      box-shadow: none; /* ou alors une ombre voulue uniquement ! */
    }
  }
  input:focus,
  input:active,
  input:valid,
  input:not(:placeholder-shown) {
    background-color: rgba(255, 255, 255, 0.121) !important;
    color: rgba(255, 255, 255, 0.9);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-autofill:valid {
    background-color: rgba(255, 255, 255, 0.121) !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.121) inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}
.glass {
  z-index: 2;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
