.slider-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 300px;
  padding: 10px;
}

.slider-label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.slider-value {
  color: #dd00d3;
  // color: #0bfffe;
  margin-left: 0.5rem;
}

.slider-input {
  // accent-color: #0bfffe;
  accent-color: #dd00d3;
  width: 100%;
  cursor: pointer;
}

.with-background {
  background-color: rgb(18, 18, 18, 0.7);
  border-radius: 5px;
}
