body,
html,
#root {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

body.fonts-loaded .hero-title {
  opacity: 1;
}

button {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none; /* Pour Safari/anciens Chrome */
  -moz-user-select: none; /* Pour Firefox */
  -ms-user-select: none; /* Pour Internet Explorer/Edge Legacy */
}
